body{
  background-color: #6495ED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  font-family: courier;
  color:black;
}

h2{
  margin:20px auto;
}

.sloth{
  width:350px;
  border-radius:15px;

  transition: transform 0.6s ease-out;
}

.sloth:hover{
  animation: move 4s infinite alternate;
}


@keyframes move{

  0%{
    transform: translateX(0) rotate(0deg);
  }

  50%{
    transform: translateX(100px) rotate(180deg);
  }

  100%{
    transform: translateX(-200px) rotate(360deg);
  }

}
