html, body {
  position: relative;
  min-height: 2004px;
  min-width: 2004px;
  overflow: auto;
  background-color: steelblue;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

p {
  font-size: 25px;
}

.intro {
  text-align: center;
  margin: 30px;
  padding: 10px;
  border: 4px solid white;
  background-color: #888888;
  opacity: 1;
}

.name {
  font-weight: bold;
  text-decoration: underline;
}

.fun {
  font-style: italic;
}

.blue {
  color: lightblue;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.title {
  font-weight: bold;
  text-align: left;
}

.section {
  width: 420px;
  height: 180px;
  margin: 20px;
  padding: 15px;
  border: 4px dotted white;
  background-color: cornflowerblue;
  color: white;
  opacity: 1;
}

.weeknd, .lana, .bea, .burritobowl, .pokebowl {
  width: 200px;
  border: 3px solid white;
}

#favecolor {
  position: absolute;
  top: 180px;
  left: 80px;
}

#faveartists {
  position: absolute;
  top: 450px;
  left: 140px;
  height: auto;
}

#food {
  position: absolute;
  top: 950px;
  left: 90px;
  height: auto;
}

#scrollDown {
  position: absolute;
  top: 1500px;
  left: 120px;
}

#goRight {
  position: absolute;
  top: 1700px;
  left: 1020px;
}

.secret {
  width: 380px;
  height: 160px;
  padding: 15px;
  border: 5px solid black;
  background-color: #888888;
  text-align: center;
  opacity: 0.95;
}

#rickroll {
  position: absolute;
  right: 0;
  bottom: 0;
}

a:link, a:visited {
  color: white;
  text-decoration: underline;
}

a:hover, a:active {
  font-weight: bold;
  text-decoration: none;
}